<div class="bg-secondary-4">
    <div class="content footer-content xl:px-64 py-10 flex-col align-center">

        <div class="flex flex-row flex-wrap gap-3 justify-center">
            <div class="footer-item">
                <i class="fa-regular fa-paper-plane"></i>
                Контакты
            </div>
            <div class="footer-item">
                <i class="fa-regular fa-file"></i>
                Документы
            </div>
            <div class="footer-item">
                <i class="fa-regular fa-code"></i>
                Исходный код
            </div>
        </div>
        <div class="text-center">
            <i class="fa-regular fa-copyright"></i> 2024 AquaHelps
        </div>
    </div>
</div>

@code {

}