<div class="grid content-center text-5xl font-bold text-center align-middle p-5">
    <span>
        <span class="text-transparent bg-clip-text bg-gradient-to-l from-blue-500 to-violet-500">
            Authorizing
        </span>
        <br />
        <span class="text-3xl text-transparent bg-clip-text bg-gradient-to-l from-blue-500 to-violet-500">
            Please, wait
        </span>
    </span>
</div>
@code {

}
