@page "/"

@using AquaHelps.Client.Services
@using AquaHelps.Client.Components
@using AquaHelps.Client.Models

@inject PostsService PostsService
@inject MarkdownService MarkdownService

@* <div class="text-2xl text-center text-white font-semibold">AquaHelps</div> *@

<PostList Posts="_posts"/>

@code{
    private IEnumerable<Post>? _posts;
    protected override async Task OnInitializedAsync()
    {
        _posts = await PostsService.GetPosts();

        await base.OnInitializedAsync();
    }
}
