@using AquaHelps.Client.Components

@inherits LayoutComponentBase
<div class="flex flex-col gap-2">
    
    <div class="flex flex-col flex-grow sm:flex-col-reverse bg-gradient-to-r from-blue-300 to-blue-400 min-h-screen gap-0">
        <main class="flex-grow p-2 sm:px-32 md:px-44 lg:px-64 xl:px-80 2xl:px-96">
            <div>
                @Body
            </div>
        </main>
        <nav class="p-2 sticky bottom-0 sm:top-0 z-10 ">
            <div class="">
                <NavigationBar></NavigationBar>
            </div>
        </nav>
    </div>
</div>

