@using AquaHelps.Client.Components

@inherits LayoutComponentBase
<div class="flex flex-col gap-2">
    
    <div class="flex flex-col flex-grow sm:flex-col-reverse bg-gradient-to-r from-blue-300 to-blue-400 min-h-screen gap-0">
        <main class="flex-grow p-2 sm:px-36 md:px-60">@Body</main>
        <nav class="p-2 sticky bottom-0 sm:top-0">
            <div class="bg-white rounded-xl p-2 shadow-white drop-shadow-2xl">
                <NavigationBar></NavigationBar>
            </div>
        </nav>
    </div>
</div>

